*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background-color: #3A474F;
    background-size: cover;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 280px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
    color: white;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.input-group-prepend span{
    width: 40px;
    background-color: #446682;
    color: black;
    border:0 !important;
}

#Input_Password{
    border-right: none;
}

#Span_ShowHidePass{
    background-color: #fff;
}

.login_btn{
    color: black;
    background-color: #446682;
    width: 100px;
    font-weight: 600;
    margin-top: 15px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}